* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #13151a;
}

.wrapper {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #739ac7, #595583);
  color: #13151a;
  margin: 100px auto 0; /* left-right margin: auto */
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search-icon {
  width: 40px;
  opacity: 0.7;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  background: #13151a;
  outline: 0;
  color: #bdbbc7;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
  flex: 1;
  margin-right: 20px;
  font-size: 18px;
}

.search button {
  background: #13151a;
  border: 0;
  outline: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.15s;
}

.search button:hover {
  opacity: 0.85;
}

.search button:active {
  opacity: 0.7;
}

.weather-icon {
  width: 160px;
  margin-top:40px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 40px;
}

.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.column img {
  height: 50px;
  margin-right: 20px;
  opacity: 0.8;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.column {
  display: flex;
  align-items: center;
  text-align: left;
}

.humidity, .wind-speed {
  font-size: 25px;
  margin-top: -2px;
}

.weather {
  display: none;
}

.error {
  color: #13151a;
  text-align: left;
  margin-left: 10px;
  font-size: 17px;
  margin-top: 30px;
  display: none;
}